body {
  font-family: "font-ian";
}
.navbar {
    background:#D74B4B;
    border-radius: 0px;
}
.navbar .navbar-brand {
    color:#F2F2F2;
    font-weight:bolder;
    font-family: "font-ian";
}
.navbar .login {
    font-family: "Harabara";
    font-weight: 100;
    color:#fff ! important;
    font-size: 20px;
}
.navbar .login:hover {
     background: #bf2828;
}
.navbar .nav-link li a{
   font-weight:100;
   color:#fff;
   font-size: 20px;
}
.navbar .nav-link li a:hover{
   font-weight:100;
   background:#bf2828;
   color:#f4f4f4;
}
.login-page{
  margin-top:5%
}
.login-page #register-form{
  background:#f2f2f2;
  padding:25px;
}
.login-page #login-form{
  background:#f2f2f2;
  padding:25px;
}
#error {
  border:1px solid #D74B4B;
}
#register-form input[type='text'], #register-form input[type='email'], #register-form input[type='password'], #login-form input[type='text'], #login-form input[type='password']{
  border-radius:0px;
  margin-bottom:4px;
  padding:20px;
}
/*  fonts  */


@font-face {
  font-family: "Harabara";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Harabara.ttf");
}

@font-face {
  font-family: "AlteHaasGroteskBold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AlteHaasGroteskBold.ttf");
}

@font-face {
  font-family: "font-ian";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/font-ian.woff") format("woff");
}